@charset "UTF-8";

img{
    max-width: 250px;
    max-height: 250px;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    border: 2px;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.5);
}

body{
    background-image:URL(https://png.pngtree.com/background/20210715/original/pngtree-red-valentine-heart-love-background-picture-image_1287149.jpg);
    background-size: contain;
    margin: 3em;
}

h1{
    text-align: center;
    padding: 2em;
}

.rodape{
    background-color: rgb(194, 33, 73);
    height: auto;
    text-align: center;
    font-size: 45px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lista{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header{
    background-color: aliceblue;
    padding-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    border: 2px;
    border-radius: 10px;
    opacity: 80%;
}

